@font-face {
    font-family: 'Steelfish';
    src: local('Steelfish Extra Bold Regular'), local('Steelfish-Extra-Bold-Regular'),
        url('SteelfishEb-Regular.woff2') format('woff2'),
        url('SteelfishEb-Regular.woff') format('woff'),
        url('SteelfishEb-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }